.header {
  background-color: rgb(51, 51, 51);
  color: white;
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  z-index: 100;
}

.task-bar-button{
  padding: 5px; 
}

.left-section{
    
}