.project-container {
    position: relative;
    background-color: #333;
    color: white;
    height: 250px;
    border-radius: 12px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: z-index 0s 0.3s;
    cursor: pointer;
}

.project-container:hover {
    z-index: 50;
    transition: z-index 0s 0s;
}

.card-content {
    text-align: center;
    z-index: 2;
    transition: opacity 0.3s ease;
}

.project-container:hover .card-content {
    opacity: 0; 
}

.project-link-button {
    margin-top: 10px;
    padding: 10px 20px;
    background: #2c2a2a;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.project-preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    border-radius: 12px;
    overflow: hidden;
    
    opacity: 0;
    transform: scale(0.8);
    pointer-events: none;

    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.5);
}

.project-container:hover .project-preview {
    opacity: 1;
    transform: scale(1.3);
    pointer-events: auto;
}

.project-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.preview-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background: linear-gradient(to top, rgba(0,0,0,0.8), transparent);
    text-align: center;
    font-size: 0.9rem;
    color: white;
}